html, body {
  height: 100vh;
}

body > footer {
  position: sticky;
  top: 100vh;
  font-size: .8rem;
  text-align: right;
  color: #7385a9;
}

nav > ul > li > a {
  color: #0f3888;
}

ul#branding {
  li > a {
    color: #000000;
    text-decoration: none;
  }
}

h1.title {
  font-size: 1.3rem;
}
