<!doctype html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} | Component Creator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='pico-main/css/pico.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
    </head>
    <body>
        <main class="container">
                {% for key, message in get_flashed_messages(with_categories=True) %}
                    <div class="usa-alert usa-alert--{{ key }}">
                        <div class="usa-alert__body">
                            <p class="usa-alert__text">{{  message }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="" style="text-align: center">
                    {% block content %}{% endblock %}
                </div>
        </main>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
